@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}
:root{
    --primary-color: #0D7C66;
    --secundary-color: #41B3A2;
    --green: #BDE8CA;
    --grey-soft: #f8f8f7;
    --white: #fff;
    --black: #0000;
    --grey-hard:#222831;
}
/*para cuadrar la imangen*/
.padding-left-50px{
    padding-left: 50px;
}
header{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid;
    border-bottom-color: var(--secundary-color);
    background-color: var(--primary-color);
}

nav{
    display: flex;
    flex-direction: row;
    float: right;
}

nav ul{
    list-style: none; /*quitar el estilo de las listas*/
    position: absolute;
    right: 0px;
    margin-top: 20px;

}
nav li{
    display: inline; /*se muestra en horizontal*/
    padding: 10px 15px;
    background-color: var(--primary-color);
}

nav li a {
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
}
nav li a:hover{
    color: green;
}

.servicios{
    display: grid;
    height: 350px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 30px;
    background-color: var(--white);
    padding: 10px;
    margin-top: 100px;
}

.item-servicios{
    border: 1px solid gray;
    align-content: center;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.title{
    text-align: center;
}
h2{
    font-size: 48px;
    font-weight: 800;
    color: var(--primary-color);
}

h3{
    font-size: 24px;
}


p{
    font-size: 18px;
}

.icon{
    font-size: 60px;
    color: var(--secundary-color);
}
.nosotros{
    display: grid;
    align-content: center;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 100px;
    margin-top: 100px;
    background-color: var(--secundary-color);
    background-image: url("../images/chipset2.jpg");
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/
}

.imagen{
    height: 400px;
    width: 550px;
    border-radius: 20px;
}

.nosotros h2{
    color:var(--white);
    text-transform: uppercase;
}
.contactanos{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:22px;
}
.nosotros p{
    color:white;
}

.contacto{
    width: 100%;
    background-color: aqua;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

input[type="text"], input[type=email],input[type="telefono"]{
    width: 95%;
    border: 1px solid var(--primary-color);
    color: var(--black);
    border-radius: 10px;
    padding: 15px 10px;
    font-size: 16px;
}

textarea{
    width: 95%;
    border: 1px solid var(--primary-color);
    color: var(--black);
    border-radius: 10px;
    padding: 15px 10px;
    font-size: 16px;
    resize: none;
}

label{
    font-size: 18px;
    padding-bottom: 5px;
    width: 100%;
}

.bcontacto{
    color: white;
    background-color: #04AA6D;
    width: 98%;
    border-radius: 10px;
    height: 50px;
}

.contact1{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.footer{
    padding-top: 10px;
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.simage{
    width: 200px;
    height: 100px;
    border-radius: 45px;
}

a{
    text-decoration: none;
    color: #222831;
}

.ulsangria{
    list-style-type: circle;
    list-style: circle;
}

.ulprimero{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 10px; 
}
.ulprimero{
    margin-left: 10px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    /*position para el movimiento*/
    position: relative;
    animation-name: boxblue;
    animation-duration: 10s;
    animation: mymove 5s;
    animation-fill-mode: forwards;
    /*esperar para que empieze la animacion*/
    /*animation-delay: 2s;*/
    /*para que se mantenga la animacion*/
    /*animation-iteration-count: infinite;*/
}

@keyframes boxblue {
    /*cambio de colores automatico*/
    /*from { background-color: blue;}
    to { background-color: red;}*/

    /*cambio de colores y tiempo seleccionado*/ /*se agrega el left y top para el movimiento de la caja*/
    /*0%   {background-color: red; left: 0px; top: 0px;}
    25%  {background-color: yellow; left: 200px; top: 0px;}
    50%  {background-color: blue; left: 200px; top: 200px;}
    100% {background-color: green; left: 0px; top:0px;}*/

    /*movimiento delante*/
    from{left: 0px;}
    to{ left: 500px;}
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}